<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Restaurant Apps Starter Project</title>
</head>
<body>
    <a href="#content" class="skip-link">Menuju ke konten</a>
    <nav id="drawer">
        <a href="#" class="brand">Resto Apps</a>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">Favorite</a></li>
            <li><a href="https://github.com/rizkysyawal9">About Us</a></li>
        </ul>
    </nav>
    <div class="navbar">
        <a id="hamburger" href="#">☰</a>
        <a href="#" class="brand">Resto Apps</a>
    </div>
    <div id="overlay"></div>
    <section class="hero">
        <img src="./images/heros/hero-image_2.jpg" class="hero-image" alt="">
        <div class="hero-text">
            <h1 class="title"> 
                Food Tastes Better with Friends
            </h1>
            <p class="subtitle">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est vero ipsa soluta impedit fuga, dolores laudantium?</p>
        </div>
    </section>
    <main id="content">
        <h1 class="content-title" tabindex="0">Restaurants</h1>
        <section id="restaurant">
        </section>
    </main>
    <footer>
        © Copyright 2020 - Resto Apps
    </footer>
</body>
</html>
